API_KEY=your_exchange_rate_api_key
MODEL_PATH=assets/trained_model_100epochs_on_pretrained_model_50epochs.pt
MODEL_URL=
TESSERACT_PATH=/opt/homebrew/bin/tesseract
TESSDATA_PATH=/opt/homebrew/share/tessdata
PORT=5000